html {
	color: #AAAAAA;
	font-family: sans-serif;
	background-color: #e0d8de;
}

ul {
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

li a {
	text-decoration: none;
	color: #AAAAAA;
	display: block;
}

p {
	margin-top: 5px;
}

a {
	text-decoration: none;
	color: #AAAAAA;
}

#nav_bar {
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

#title {
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: #FF00FF;
}

#page {
	padding: 10px;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	width: 700px;
	border-radius: 5px;
	min-height: 90%;
	width: 700px;
}

#content {
	margin-left: 5%;
	margin-right: 5%;
}

.list li a {
	margin: 0px;
	margin-top: 30px;
}

.list li {
	float: none;
}

#sonalist{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image{
    width: 50%;
}

.image_undertitle{
    text-align: center;
}

.sonaimage{
    width: 90%;
    margin: 5%;
}

h3{
    text-align: center;
}

@media only screen and (max-width: 750px) {
	#page {
		width: 100%;
		margin-top: 5px;
	}
	#title{
	margin-top: 10px;
    margin-bottom: 15px;
	}
	li {
		float: none;
	}
	ul {
		list-style: none;
		display: table;
		width: 100%;
		padding: 0px;
	}
	li a {
		display: block;
		text-align: center;
	}
	.image{
    width: 100%;
    }
}