html{
	color: #AAAAAA;
	font-family: sans-serif;
	background-color: #e0d8de;
}

ul{
    list-style: none;
    display:table;
    width: 100%;
    padding: 0px;
}

li{
	float: none;
}

li a{
	text-decoration: none;
	color: #AAAAAA;	
	display: block;
	text-align: center;
	font-size: calc(20vw - 25px);
}

a{
	text-decoration: none;
	color: #AAAAAA;
}

p{
	margin-top: 5px;
}

#nav_bar{
    margin-left:auto;
    margin-right:auto;
    height: 100%;
}

#title{
	font-weight: bold;
	margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-size: calc(30vw - 25px);
    color: #FF00FF;
    margin-top: 10px;
    margin-bottom: 15px;
}

#page{
	padding: 10px;
    background-color: #FFFFFF;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5px;
    width: 99%;
    border-radius: 5px;
    min-height: 90%;
}

#content{
	margin-left: 5%;
	margin-right: 5%;
}

#content p, #content li a, #content li{
	font-size: calc(7vw - 25px);
}

#content h3{
	font-size: calc(15vw - 25px);
}

.list li a{
	margin-top: 30px;
}

#sonalist{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image{
    width: 100%;
}

.image_undertitle{
    text-align: center;
}

.sonaimage{
    width: 90%;
    margin: 5%;
}