<!DOCTYPE html>
{% extends 'layout.html' %}
{% block content %}
<ul class="list">
    <li>
        <a href="https://t.me/Vatril" target="_blank">Telegram</a>
        <a href="https://twitter.com/_vatril_" target="_blank">Twitter</a>
        <a href="https://github.com/Vatril" target="_blank">GitHub</a>
        <a href="{{url_for('static', filename='files/nikolaijaysummers.vcf')}}" target="_blank">Vcard</a>
    </li>
</ul>
{% endblock %}