<!DOCTYPE html>
{% extends 'layout.html' %}
{% block content %}
<h3>Hello!</h3>
<p>I am Nikolai, 20, from Berlin, software developer.</p>
<p>This website mainly exists to provide another point of contact and giving my testing server another purpose.</p>
<br>
<p>I am currently studying Telematics!</p>
<p>My main languages are Java, Kotlin, Python and C. <br>
I also have experience with Ruby, C#, PHP, a few others, and of course basics like HTML, CSS, JS/TS and SQL.
    <br><br>
    If you have an idea for a project, let me know!
</p>
{% endblock %}