<!DOCTYPE html>
{% extends 'layout.html' %}
{% block content %}
<ul class="list">
    <li>Owner: Nikolai Jay Summers</li>
    <br>
    <li>Address:
        <ul class="list">
            <li>Zwinglistr. 5</li>
            <li>10555 Berlin</li>
            <li>Germany</li>
        </ul>
    </li>
    <br>
    <a href="mailto:nikolaisummers@gmail.com"><li>Email: nikolaisummers@gmail.com</li></a><br>
    <li>Telephone: 4915779603374</li>
</ul>
{% endblock %}