<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vatril</title>

    <link rel="icon" type="image/gif" href="{{url_for('static', filename='img/favicon.gif')}}">
    {% if ('android' or 'iphone' or 'blackberry' or 'mobile' or 'phone') in request.headers.get('User-Agent').lower() %}
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='css/style-mobile.css')}}" />
    {% else %}
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='css/style.css')}}" />
    {% endif %}

</head>
<body>
<div id="page">
    <div id="nav_bar">
        <h1 id="title">Vatril</h1>
        <ul>
            <li>
                <a href="home">Home</a>
            </li>
            <!--<li>-->
                <!--<a href="projects">Projects</a>-->
            <!--</li>-->
            <li>
                <a href="contact">Contact</a>
            </li>
            <li>
                <a href="sona">Sona</a>
            </li>
            <li>
                <a href="imprint">Imprint</a>
            </li>
        </ul>
    </div>
    <hr>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    </div>
</body>
</html>