<!DOCTYPE html>
{% extends 'layout.html' %}
{% block content %}
<h3>My Fursona done by various artists</h3>
<ul id="sonalist">
    {% for imageset in images%}
    <div class="image">
        <a href="{{imageset["artist_link"]}}" target="_blank">
            <img
                class="sonaimage"
                src="{{url_for('static', filename='img/sona/{}'.format(imageset["image"]["file"]))}}"
                alt="{{imageset["image"]["name"]}}"
            >

        <h3>{{imageset["name"]}} by {{imageset["artist"]}}</h3>
        </a>
    </div>
    {%endfor%}
</ul>
{% endblock %}